@charset "utf-8";
/*————————————————————全局通用————————————————————*/
body {
    padding: 0;
    margin: 0 1%;
    line-height: 130%;
    text-align: justify;
    font-family: "DK-SONGTI","宋体","SimSun","STSong","st",serif;
}

p {
    margin-right: 1%;
    margin-left: 1%;
    line-height: 130%;
    text-align: justify;
    text-justify: inter-ideograph;
    text-indent: 2em;
    duokan-text-indent: 2em;
}